web_app/logs
web_app/*.log
web_app/npm-debug.log*
web_app/yarn-debug.log*
web_app/yarn-error.log*
web_app/pnpm-debug.log*
web_app/lerna-debug.log*
.gitignore
web_app/node_modules
web_app/dist
web_app/dist-ssr
web_app/*.local
__pycache__/
api/__pycache__/*
api/app/services/*
*.pyc

web_app/.vscode/*
web_app/!.vscode/extensions.json
web_app/.idea
web_app/.DS_Store
web_app/*.suo
web_app/*.ntvs*
web_app/*.njsproj
web_app/*.sln
web_app/*.sw?
web_app/.env
api/.env
venv/*
env
__pycache__/
*.pyc
api/uploads/
api/venv/
mongo_data/
uploads/
__pycache__/
*.pyc
node_modules/
.env
