version: "3.9"

services:
  backend:
    build:
      context: ./api
    container_name: report_backend
    ports:
      - "8000:8000"
    env_file:
      - ./api/.env
    depends_on:
      - mongodb
    volumes:
      - ./uploads:/app/uploads
    restart: always

  mongodb:
    image: mongo:6
    container_name: report_mongodb
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
    restart: always

  frontend:
    build:
      context: ./web_app
    container_name: report_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./web_app:/app
      - /app/node_modules
    depends_on:
      - backend
    restart: always

volumes:
  mongo_data:
